@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  text-align: center;
  font-family: 'Red Rose', sans-serif;
}

.cell {
  width: 15px;
  height: 15px;
  border: 1px solid black;
}
