@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #000000, #221c24, #2c364b, #17566b, #007777);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  color: #fff;
  text-shadow: 0 0 5px #00DAD9;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  text-align: left;
  font-family: 'Red Rose', sans-serif;
  margin: 3%;
}

span.link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-right: 9%;
}

.cell {
  width: 15px;
  height: 15px;
  border: 0.2px solid #000;
}

.popup-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.popup {
  background-color: #060B18;
  top: 1%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 10px #00DAD9;
  display: block;
  margin: 0 auto;
}

/* #rules {
  left: 39%;
} */

#about {
  left: 15%;
  padding: 4%;
  max-width: 50%;
} 

select {
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 0 0 5px #00DAD9;
  font-size: 15px;
}